.main-content {
    .charts-row {
         margin: 20px 0px;
    }
    .card-chart-1, .card-chart-2 {
        width: 49%;
    }
    .card-chart-1 {
        margin-right: 1%;
    }
    .card-chart-2 {
        margin-left: 1%;
    }
}