.nav-tabs>button.active,
.nav-tabs>button.active:hover,
.nav-tabs>button.active:focus {
  color: #19d21e;
  cursor: default;
  font-weight: bold;
  border: none;
  background-color: transparent !important;
  border-bottom: 3px solid #19d21e;
}

.nav-tabs>button {
  transition: none;
  color: #fff;
  font-weight:bold;
  border-bottom: 1px solid #dee2e6;
}

.nav-tabs>button:hover {
  border: none;
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 0px;
}
